<div class="container-fluid">

    <h4><img src="{{model.place.icon}}" style="height:30px; padding-right: 10px;"/>{{model.place.name}}</h4>
    <i><h5 style="padding-left: 40px;">{{model.place.formatted_address}}</h5></i>
    <h5 style="padding-left: 40px;">{{model.place.rating}} / 5</h5>
    <div class="row">
        <div class="col-xs-6 col-md-3" ng-repeat="photo in model.place.photos">
            <a class="thumbnail">
                <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference={{photo.photo_reference}}&key=AIzaSyDTKeMGhvu0jabXMmqlQK1_kue5NIrgXbk"/>
            </a>
        </div>
    </div>
</div>