<div class="container-fluid">

    <div class="row">
        <div class="col-xs-8">
            <h4><img src="{{model.place.icon}}" style="height:30px; padding-right: 10px;"/>{{model.place.name}}</h4>
            <i><h5 style="padding-left: 40px;">{{model.place.formatted_address}}</h5></i>
            <h5 style="padding-left: 40px;">{{model.place.rating}} / 5</h5>
        </div>
        <div class="col-xs-4">
            <button class="btn btn-primary pull-right"
                    ng-click="model.addPlaceToUser(model.userId, model.placeId)"
                    ng-if="!model.visited"
                    style="margin:20px;">
                <span class="glyphicon glyphicon-flag"></span>
            </button>
            <button class="btn btn-success pull-right"
                    ng-if="model.visited"
                    style="margin:20px;">
                <!--ng-click="model.removePlaceFromUser(model.userId, model.placeId)"-->
                <span class="glyphicon glyphicon-flag"></span>
            </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-md-3" ng-repeat="photo in model.place.photos">
            <a class="thumbnail">
                <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference={{photo.photo_reference}}&key=AIzaSyDTKeMGhvu0jabXMmqlQK1_kue5NIrgXbk"/>
            </a>
        </div>
    </div>
</div>