/*
 * General
 */
body {
    padding: 90px 0px;
}

input, textarea, .dropdown, .text-angular-input {
    margin-bottom: 5px;
}

a:hover {
    text-decoration: none;
}

.navbar-default {
    background-color: #337ab7;
}

.navbar-default .nja-split-nav {
    padding-left: 0;
}

.btn.btn-fab {
    font-size: 16px;
}
/*
 * Non-Collapsing Nav
 */

.nja-no-collapse .navbar-header .navbar-right span {
    padding-right: 10px;
}

.nja-no-collapse .navbar-brand .glyphicon-chevron-left {
    padding-right: 20px;
}

@media (min-width: 0px) {
    .navbar-right {
        float: right;
        margin-right: -15px;
    }
}

@media (min-width: 768px) {
    .nja-no-collapse .navbar-header {
        float: inherit;
    }
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    background-color: transparent;
    color: white;
}

.navbar-default .navbar-brand, .navbar-default a {
    color: white;
}

.navbar-default .navbar-nav li a {
    color: white;
}

.active .glyphicon {
    color: white;
}

/*
 * Split View
 */

.nja-split-view-left {
    position: absolute;
    top: 0px;
    bottom: 0px;
    padding-top: 10px;
    z-index: 1;
    overflow-y: scroll;
    border-right: 1px solid #CCCCCC;
}

@media(min-width: 1200px) {
    .nja-split-view-right {
        position: absolute;
        right: 0px;
        overflow-y: scroll;
        top: 0px;
        bottom: 0px;
    }

    .nja-split-view-right.page {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 4;
        padding: 0;
        overflow: auto;
    }
}

.pages > div > div {
    padding: 0 5px;
    padding-top: 100px;
    margin: 0;
}

.list-group .list-group-item .row-content {
    min-height: 30px;
}

.list-group .list-group-separator:before {
    width: -webkit-calc(100%);
    width: calc(100%);
    border-bottom: 1px solid rgba(0,0,0,.1);
    float: left;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

.nja-split-view-left,.chooser .list-group-item {
    border: none;
}

.chooser a.list-group-item {
    color: #337ab7;
}

/* TextAngular */
.ta-toolbar {
    background-color: #F0F0F0;
    padding: 10px 10px 5px;
    margin-left: 0px; /* Override bootstrap */
    border: 1px solid #EEE;
}

.nav-search > * {
    padding: 0px 30px;
}

.navbar {
    margin: 10px 10px 0px 10px;
    border-radius: 2px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 3px 6px 0 rgba(0, 0, 0, 0.12);
}

.navbar-brand {
    padding-left: 50px;
    padding-right: 50px;
}