<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <input name="whatSearchField"
                   ng-model="model.whatSearchText"
                   type="text"
                   class="form-control"
                   placeholder="What are you looking for?">
        </div>
    </div>
    <div class="col-sm-1 text-center">
        <div class="form-group">
            <i class="material-icons">add</i>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <input name="whereSearchField"
                   ng-model="model.whereSearchText"
                   type="text"
                   class="form-control"
                   placeholder="Where abouts?">
        </div>
    </div>
    <div class="col-sm-3">
        <a ng-click="model.findPlaceByTextSearch()"
           class="btn btn-default btn-raised"
           type="button"
            style="margin-top:20px;">
            <i class="material-icons">search</i>
        </a>
    </div>
</div>