<div class="container-fluid">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">
                  <!--  <a href="#!/user/{{model.userId}}"
                       role="button">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>-->
                    <a href="#!/">
                        wander
                        <span class="glyphicon glyphicon-flag"></span>
                    </a>
                </div>
            </div>

            <div class="collapse navbar-collapse">
                <div class="nav navbar-nav nav-search-container">
                    <div class="navbar-left navbar-form nav-search">
                        <div class="form-group">
                        <input type="text" class="form-control" placeholder="What are you looking for?" style="width: 400px;">
                        </div>
                        <span class="glyphicon glyphicon-plus"></span>
                        <div class="form-group">
                        <input type="text" class="form-control" placeholder="Where abouts?">
                        </div>
                        <span class="glyphicon glyphicon-search"></span>
                    </div>
                </div>

                <ul ng-if="!model.user"
                    class="nav navbar-nav navbar-right">
                    <li><a href="#!/login">Login</a></li>
                </ul>

                <ul ng-if="model.user"
                    class="nav navbar-nav navbar-right">
                    <li><a href="#!/user">Profile</a></li>
                </ul>

                <ul ng-if="model.user.isAdmin"
                    class="nav navbar-nav navbar-right">
                    <li><a href="#!/admin">Admin</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="row">
        <div class="col-sm-4 nja-split-view-left text-center vertical-center">
            <div class="container-fluid">
                <h1><span class="glyphicon glyphicon-flag"></span></h1>
                <h3>wander</h3>

                <a ng-if="!model.user"
                   href="#!/register"
                   class="btn btn-warning btn-raised">
                    Sign up now!
                </a>
            </div>
        </div>
        <div class="col-sm-8 nja-split-view-right pages">
            <div class="row">
                <div class="col-xs-10 vertical-center">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h4>Try somewhere new for dinner tonight.</h4>
                            <div ng-include = "'views/search/templates/components/search.component.client.html'"></div>
                            <div class="list-group">
                                <div ng-repeat="place in model.results">
                                    <a href="#!/place/{{place.place_id}}" class="list-group-item">
                                        <h4><img src="{{place.icon}}" style="height:30px; padding-right: 10px;"/>{{place.name}}</h4>
                                        <h6>{{place.formatted_address}}</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>