<div class="nja-profile">

    <div ng-include="'views/components/templates/nav.component.client.html'" ng-controller="NavController as navModel" onload="navModel.pageModel = model"></div>

    <div class="nja-no-collapse container-fluid">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <h3>Users:</h3>
                <div class="panel panel-default adminDeletionPanel">
                    <div class="panel-body">
                        <table class="table table-striped table-hover ">
                            <tr>
                                <th>ID</th>
                                <th>Username</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                               <tr ng-repeat="user in model.users">
                                    <td>{{user._id}}</td>
                                    <td>{{user.username}}</td>
                                    <td>{{user.firstName}}</td>
                                    <td>{{user.lastName}}</td>
                                    <td class="text-center">
                                        <a href="#!/user/{{user.username}}">
                                            <i class="material-icons">edit</i>
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <a ng-click="model.deleteUser(user)">
                                            <i class="material-icons">delete</i>
                                        </a>
                                    </td>
                                </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xs-12">
                <h3>Places:</h3>
                <div class="panel panel-default adminDeletionPanel">
                    <div class="panel-body">
                        <table class="table table-striped table-hover ">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            <tr ng-repeat="place in model.places">
                                <td>{{place._id}}</td>
                                <td>{{place.name}}</td>
                                <td class="text-center">
                                    <a href="#!/place/{{place.place_id}}">
                                        <i class="material-icons">edit</i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a ng-click="model.deletePlace(place)">
                                        <i class="material-icons">delete</i>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>