<div class="container-fluid">

    <div ng-include="'views/components/templates/nav.component.client.html'" ng-controller="NavController as navModel" onload="navModel.pageModel = model"></div>

    <div class="row">
        <div class="col-sm-2 col-xs-12 text-center">
            <img src="{{model.place.icon}}"
                 style="max-width: 150px; max-height: 150px; padding-bottom: 20px;"/>
        </div>
        <div class="col-sm-8 col-xs-9">
            <div class="panel">
                <div class="panel-heading">
                    <h3>{{model.place.name}}</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-6">
                        <i><h5>{{model.place.formatted_address}}</h5></i>
                        <h5>{{model.place.rating}} / 5</h5>
                    </div>
                    <div class="col-sm-6">
                        <h5>You follow
                            <a class="drop-target">{{model.followsVisited.length}}</a>
                            <span ng-if="model.followsVisited.length != 1">people who have visited this place!</span>
                            <span ng-if="model.followsVisited.length == 1">person who has visited this place!</span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="model.loggedIn" class="col-sm-1 col-xs-3">
            <div class="col-sm-6 col-xs-12">
                <a type="button"
                   ng-if="!model.visited"
                   ng-click="model.addPlaceToUserVisited()"
                   class="btn btn-fab btn-info opensource">
                    <i class="material-icons iconLeft">flag</i>
                    <i class="material-icons iconRightOffset">add</i>
                    <div class="ripple-container"></div>
                </a>
                <a type="button"
                   ng-if="model.visited"
                   ng-click="model.removePlaceFromUserVisited()"
                   ng-mouseover="model.hoverIn()"
                   ng-mouseleave="model.hoverOut()"
                   class="btn btn-fab opensource btn-success">
                    <i class="material-icons iconLeft">flag</i>
                    <i ng-if="model.hover" class="material-icons iconRightOffset">remove</i>
                    <i ng-if="!model.hover" class="material-icons iconRightOffset">check</i>
                    <div class="ripple-container"></div>
                </a>

                <a href="javascript:void(0)"
                   type="button"
                   class="btn btn-fab opensource"
                   data-toggle="modal"
                   data-target="#reviewForm">
                    <i class="material-icons">mode_edit</i>
                    <div class="ripple-container"></div>
                </a>

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-8">
        </div>
        <div class="col-xs-4">

            </div>
        </div>
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <h3>Photos:</h3>
            <div class="panel">
                <div class="panel-body">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators"
                                ng-repeat="photo in model.place.photos"
                                data-slide-to="{{$index}}"
                                ng-class="{'active': $first}"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="item"
                                 ng-repeat="photo in model.place.photos"
                                 ng-class="{'active': $first}">
                                <img class="img-responsive" src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=800&photoreference={{photo.photo_reference}}&key=AIzaSyDTKeMGhvu0jabXMmqlQK1_kue5NIrgXbk"/>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-xs-12">
            <h3>Reviews:</h3>
            <div class="panel" id="reviewPanel">
                <div class="panel-body">
                <div ng-repeat="review in model.place.reviews">
                    <a href="#!/user/{{review._user.username}}">{{review._user.username}}</a>
                    {{review.rating}} / 5
                    <p>{{review.text}}</p>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="my-drop">
    <div class="drop-content">
        <div ng-repeat="follow in model.followsVisited">
            {{follow.username}}
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="reviewForm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">User Settings</h4>
            </div>
            <div class="modal-body">
                <form id="reviewForm"
                      name="reviewForm">
                    <div class="form-group">
                        <label for="exampleSelect1">Rating:</label>
                        <select class="form-control"
                                id="exampleSelect1"
                                ng-model="model.reviewForm.rating"
                                required>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleTextarea">Review:</label>
                        <textarea class="form-control"
                                  id="exampleTextarea"
                                  rows="3"
                                  ng-model="model.reviewForm.text"></textarea>
                    </div>
                    <button type="submit"
                            class="btn btn-primary"
                            data-dismiss="modal"
                            ng-click="reviewForm.$valid && model.createReview()">
                        Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

