<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#navCollapseMenu"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">
                <a href="#!/">
                    wander
                    <span class="glyphicon glyphicon-flag"></span>
                </a>
            </div>
        </div>

        <div class="collapse navbar-collapse"
             id="navCollapseMenu">
            <div class="nav navbar-nav navbar-left nav-search-container hidden-xs">
                <div ng-if="navModel.pageModel.pageNeedsSearch"
                     class="navbar-left navbar-form nav-search">
                    <div class="form-group">
                        <input name="whatSearchField"
                               id="whatSearchField"
                               ng-model="navModel.whatSearchText"
                               type="text"
                               class="form-control"
                               placeholder="What are you looking for?">
                    </div>
                    <div class="form-group">
                        <i class="material-icons">add</i>
                    </div>
                    <div class="form-group">
                        <input name="whereSearchField"
                               id="whereSearchField"
                               ng-model="navModel.whereSearchText"
                               type="text"
                               class="form-control"
                               placeholder="Where abouts?">
                    </div>
                    <div class="form-group">
                        <li class="dropdown">
                            <a ng-click="navModel.findPlaceByTextSearch()"
                               class="dropdown-toggle"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false">
                                <i class="material-icons">search</i>
                            </a>
                            <ul ng-if="navModel.results"
                                class="dropdown-menu pull-right">
                                <div>
                                    <div class="list-group">
                                        <div ng-repeat="place in navModel.results">
                                            <a href="#!/place/{{place.place_id}}"
                                               class="list-group-item">
                                                <h4><img ng-src="{{place.icon}}"
                                                         style="height:30px; padding-right: 10px;"/>{{place.name}}</h4>
                                                <h6>{{place.formatted_address}}</h6>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </ul>
                        </li>
                        <div class="ripple-container"></div>
                    </div>
                </div>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li ng-if="!navModel.pageModel.user">
                    <a href="#!/login">Login</a>
                </li>

                <li ng-if="navModel.pageModel.user">
                    <a href="#!/user">Profile</a>
                </li>

                <li ng-if="navModel.pageModel.user.isAdmin">
                    <a href="#!/admin">Admin</a>
                </li>

                <li ng-if="navModel.pageModel.user">
                    <a ng-click="navModel.logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
