<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand">
                <!--  <a href="#!/user/{{model.userId}}"
                     role="button">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>-->
                <a href="#!/">
                    wander
                    <span class="glyphicon glyphicon-flag"></span>
                </a>
            </div>
        </div>

        <div class="collapse navbar-collapse">
            <div class="nav navbar-nav nav-search-container">
                <div class="navbar-left navbar-form nav-search">
                    <div class="form-group">
                        <input name="whatSearchField"
                               id="whatSearchField"
                               ng-model="model.whatSearchText"
                               type="text"
                               class="form-control"
                               placeholder="What are you looking for?">
                    </div>
                    <div class="form-group">
                        <i class="material-icons">add</i>
                    </div>
                    <div class="form-group">
                        <input name="whereSearchField"
                               id="whereSearchField"
                               ng-model="model.whereSearchText"
                               type="text"
                               class="form-control"
                               placeholder="Where abouts?">
                    </div>
                    <div class="form-group">
                        <li class="dropdown">
                            <a href="#"
                               ng-click="model.findPlaceByTextSearch()"
                               class="dropdown-toggle"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false">
                                <i class="material-icons">search</i>
                            </a>
                            <ul ng-if="model.results" class="dropdown-menu pull-right">
                                <div>
                                    <div class="list-group">
                                        <div ng-repeat="place in model.results">
                                            <a href="#!/place/{{place.place_id}}" class="list-group-item">
                                                <h4><img src="{{place.icon}}" style="height:30px; padding-right: 10px;"/>{{place.name}}</h4>
                                                <h6>{{place.formatted_address}}</h6>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </ul>
                        </li>
                        <div class="ripple-container"></div>
                    </div>


                </div>
            </div>

            <ul ng-if="!model.user"
                class="nav navbar-nav navbar-right">
                <li><a href="#!/login">Login</a></li>
            </ul>

            <ul ng-if="model.user"
                class="nav navbar-nav navbar-right">
                <li><a href="#!/user">Profile</a></li>
            </ul>

            <ul ng-if="model.user.isAdmin"
                class="nav navbar-nav navbar-right">
                <li><a href="#!/admin">Admin</a></li>
            </ul>
        </div>
    </div>
</nav>
