<div class="nja-profile">

    <nav class="nja-no-collapse navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">
                    Profile
                </div>
            </div>
        </div>
    </nav>

    <div class="nja-no-collapse container-fluid">
        <div class="row">
            <div class="col-sm-2">

            </div>
            <div class="col-sm-8">
                <div class="panel">
                    <div class="panel-heading">
                        <h3>{{model.user.firstName}} {{model.user.lastName}}
                        </h3>
                    </div>
                    <div class="panel-body">
                        <h6>({{model.user.username}})</h6>
                        <!-- bio -->
                    </div>
                </div>
            </div>
            <div class="col-sm-1">
                <div  ng-if="model.usernameUrlParam" class="col-sm-6 col-xs-12">
                    <a type="button"
                            ng-if="!model.following"
                            ng-click="model.followUser()"
                            class="btn btn-fab btn-info opensource">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span class="glyphicon glyphicon-user"></span>
                        <div class="ripple-container"></div>
                    </a>
                    <a type="button"
                            ng-if="model.following"
                            ng-click="model.unfollowUser()"
                            ng-mouseover="model.hoverIn()"
                            ng-mouseLeave="model.hoverOut()"
                            class="btn btn-fab opensource btn-success">
                        <span ng-if="model.hover" class="glyphicon glyphicon-remove"></span>
                        <span ng-if="!model.hover" class="glyphicon glyphicon-ok"></span>
                        <span class="glyphicon glyphicon-user"></span>
                        <div class="ripple-container"></div>
                    </a>

                </div>

                <div  ng-if="!model.usernameUrlParam" class="col-sm-6 col-xs-12">
                    <a ng-if="!model.usernameUrlParam"
                            href="javascript:void(0)"
                            type="button"
                            class="btn btn-fab btn-info opensource"
                            data-toggle="modal"
                            data-target="#userSettings">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <ul class="list-group">
                    <h3>Visited:</h3>
                    <div class="panel panel-default"
                         ng-repeat="place in model.places">
                        <div class="panel-body">
                            <a href="#!/place/{{place.place_id}}"
                               class="list-group-item">
                                <p>
                                    <b>{{place.name}}</b>
                                    <br>
                                    {{place.address}}
                                </p>
                            </a>
                        </div>
                    </div>
                </ul>
            </div>

            <div class="col-sm-6 col-xs-12">
                <h3>Following:</h3>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="list-group">
                            <a class="list-group-item"
                               ng-repeat="user in model.user.usersFollowing"
                               href="#!/user/{{user.username}}">
                                <div class="row-action-primary">
<!--
                                    <i class="material-icons">folder</i> TODO: Profile picture?
-->
                                </div>
                                <div class="row-content">
<!--
                                    <div class="least-content">15m</div> TODO: hmm
-->
                                    <p class="list-group-item-text">{{user.username}}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" role="dialog" id="userSettings">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">User Settings</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                        <label for="firstName"
                               class="col-md-2 control-label">First Name</label>

                        <div class="col-md-10">
                            <input name="firstName"
                                   ng-model="model.user.firstName"
                                   placeholder="Noah"
                                   type="text"
                                   class="form-control"
                                   id="firstName"/>
                        </div>
                        </div>

                        <div class="form-group">
                        <label for="lastName"
                               class="col-md-2 control-label">Last Name</label>

                        <div class="col-md-10">
                            <input name="lastName"
                                   ng-model="model.user.lastName"
                                   placeholder="Appleby"
                                   type="text"
                                   class="form-control"
                                   id="lastName"/>
                        </div>
                        </div>

                        <div class="form-group">
                            <label for="username"
                                   class="col-md-2 control-label">Username</label>

                            <div class="col-md-10">
                                <input name="username"
                                       ng-model="model.user.username"
                                       readonly
                                       value="noah"
                                       class="form-control"
                                       id="username"/>
                            </div>
                        </div>

                        <div class="form-group">
                        <label for="email"
                               class="col-md-2 control-label">Email</label>

                        <div class="col-md-10">
                            <input name="email"
                                   ng-model="model.user.email"
                                   type="email"
                                   placeholder="noah@appleby.com"
                                   class="form-control"
                                   id="email"/>
                        </div>
                        </div>

                        <div class="form-group">
                        <label for="dob"
                               class="col-md-2 control-label">Birthday</label>

                        <div class="col-md-10">
                            <input name="dob"
                                   type="date"
                                   class="form-control"
                                   id="dob"/>
                        </div>
                        </div>

                        <div class="form-group"> <-- TODO: confirm this on backend (outside of proj scope, later)-->
                            <div class="col-md-10 col-md-offset-2">
                                <input name="admin"
                                       type="checkbox"
                                       ng-model="model.user.isAdmin"
                                       id="admin">
                                Request Admin Access

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2">
                            <button class="btn  btn-info"
                                    ng-click="model.updateUser(model.user)"
                                    data-dismiss="modal"
                                    role="button">
                                Save
                            </button>

                            <a class="btn  btn-warning"
                               ng-click="model.deleteUser(model.user)"
                               role="button">
                               Delete Account</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!--
<a class="btn  btn-danger"
   ng-click="model.logout()"
   role="button">Logout</a>-->
