<div class="container-fluid">

    <nav class="nja-no-collapse navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">
                    <a href="#!/user/{{model.userId}}"
                       role="button">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    Search
                </div>
            </div>
        </div>
    </nav>

    <div class="row">
        <div class="col-sm-4 nja-split-view-left text-center vertical-center">
            <div class="container-fluid">
                <h1><span class="glyphicon glyphicon-flag"></span></h1>
                <h3>wander</h3>

                <a ng-if="!model.user"
                   href="#!/register"
                   class="btn btn-warning btn-raised">
                    Sign up now!
                </a>
            </div>
        </div>

        <div class="col-sm-8 nja-split-view-right pages">
            <div class="row vertical-center">
                <div class="col-xs-10">
                    <div class="container-fluid">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div ng-show="model.error"
                                         class="alert alert-danger">
                                        {{model.error}}
                                </div>
                                <h2>Register</h2>

                                    <div class="form-group">
                                        <label for="username"
                                               class="col-md-2 control-label">Username</label>

                                        <div class="col-md-10">
                                            <input name="username"
                                                   ng-model="user.username"
                                                   placeholder="username"
                                                   type="text"
                                                   class="form-control"
                                                   id="username"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="password"
                                               class="col-md-2 control-label">Password</label>

                                        <div class="col-md-10">
                                            <input name="password"
                                                   ng-model="user.password"
                                                   placeholder="password"
                                                   type="password"
                                                   class="form-control"
                                                   id="password"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="password2"
                                               class="col-md-2 control-label">Verify Password</label>

                                        <div class="col-md-10">
                                            <input name="password2"
                                                   ng-model="user.password2"
                                                   placeholder="verify password"
                                                   type="password"
                                                   class="form-control"
                                                   id="password2"/>
                                        </div>
                                    </div>
                            </div>

                            <div class="row">
                                <div class="col-md-10 col-md-offset-2">
                                    <a class="btn btn-default btn-primary"
                                       ng-click="model.registerUser(user)"
                                       role="button">Register</a> <!-- TODO do not hardcode -->

                                    <a class="btn btn-default btn-danger"
                                       href="#!/login"
                                       role="button">Cancel</a>
                                </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>