<div class="nja-profile">
    <nav class="nja-no-collapse navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">
                    Profile
                </div>
                <a class="navbar-brand navbar-right"
                   ng-click="model.updateUser(model.user)"
                   role="button">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
        </div>
    </nav>

    <div class="nja-no-collapse container-fluid">
        <label for="firstName">First Name</label>
        <input name="firstName"
               ng-model="model.user.firstName"
               placeholder="Noah"
               type="text"
               class="form-control"
               id="firstName"/>

        <label for="lastName">Last Name</label>
        <input name="lastName"
               ng-model="model.user.lastName"
               placeholder="Appleby"
               type="text"
               class="form-control"
               id="lastName"/>

        <label for="username">Username</label>
        <input name="username"
               ng-model="model.user.username"
               readonly
               value="noah"
               class="form-control"
               id="username"/>

        <label for="email">Email</label>
        <input name="email"
               ng-model="model.user.email"
               type="email"
               placeholder="noah@appleby.com"
               class="form-control"
               id="email"/>

        <label for="dob">Date of Birth</label>
        <input name="dob"
               type="date"
               class="form-control"
               id="dob"/>

        <a class="btn btn-default btn-primary btn-block"
           href="#!/user/{{model.user._id}}/website"
           role="button">Place Search</a>

        <div ng-repeat="place in model.places">
            <a href="#!/poc/place/{{place.place_id}}" class="list-group-item">
                <h4><img src="{{place.icon}}" style="height:30px; padding-right: 10px;"/>{{place.name}}</h4>
                <h6>{{place.formatted_address}}</h6>
            </a>
        </div>

        <a class="btn btn-default btn-danger btn-block"
           href="#!/login"
           role="button">Logout</a>

        <a class="btn btn-default btn-warning btn-block"
           ng-click="model.deleteUser(model.user)"
           role="button">Delete Account</a>
    </div>

    <!-- Start Footer (same across all pages) -->
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <a class="navbar-brand navbar-right"
               href="#!/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </nav>
</div>